.App {
	text-align: center;
}

button {
	border-radius: 0.4rem;
	background-color: white;
	outline: 0;
}
html {
	font-family: 'Segoe UI';
	font-size: 12px;
}
input {
	border-radius: 5px;
	padding: 3px;
	border: 0.01em solid #999;
	outline: 0;
}
